
**.ipynb_checkpoints
**.DS_Store
webarchive
saved psi
tdse2 copy 2.jl
tdse2 copy 3.jl
tdse2.jl
tdse2 copy.jl
OneDrive

parameters_notes
archived/bragg2d-v3.1.3.ipynb

!output/
output/*
!output/(20230212-191315-F) bragg_mixing_0_Pi/
output/(20230212-191315-F) bragg_mixing_0_Pi/*
!output/(20230212-191315-F) bragg_mixing_0_Pi/(20230212-191315-F) bragg_mixing_0_Pi.mov
*.virtual_documents
*.ipynb
*__pycache__
*.html
envs
output
venv
