# python==3.11 
# Emmm I don' think pip have all the below packages... emmmm welp whatever, use conda please.
setuptools<65
numpy>=2.0
libblas
numba
pgzip
matplotlib
uncertainties
scipy
pandas
pyfftw
statsmodels
moviepy
opencv-python
joblib
numba-progress
pytest
hypothesis
meson
ipykernel
ipywidgets
jupytext
ffmpeg